<!DOCTYPE html>
<!--This is the page displayed if the faces did not match, so the decryption was not successful-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>No Match</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body style="background-color: lightgray">
    <span class="message" id="error">{{ no_match }}</span>
    <br />
    <!--Deletes files then redirects to start page-->
    <a href="/deleteFiles" class="nextStep"> Click to Try again</a>
</body>
</html>