<!DOCTYPE html>
<!--This page is used if no face is detected in the image being used for decryption-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Not Uploaded</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body style="background-color: lightgray">
    <span class="message" id="error">{{ errorMsg }}</span>
    <br />
    <span class="message">{{ explanation }} </span>
    <br />
    <a href="/CreateLock" class="nextStep"> Click to Try again</a>
</body>
</html>