<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>File Not Uploaded</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body style="background-color: lightgray">
    <span class="message" id="error">File Not Uploaded</span>
    <br />
    <span class="message"  id="subMessage">Files must be of type .txt, .doc. docx</span>
    <br />
    <a href="FileUpload" class="nextStep"> Click to Try again</a>
</body>
</html>